:root {
  --black: #000;
  --white: #ffffff;
  --lightgrey: #f1f1f1;
  --darkblue: #0d102c;
  --primarycolor: #3d51f2;
  --secondarycolor: #5670ef;
  --lightDark: #080A25;
  --darkText: #8388B4;
}

.processessDesc {
    order: 0;
  }
  
  .processesPic {
    order: 1;
  }
  
  .eachProcesses {
    display: flex;
    margin-bottom: 2em;
  }
  
  .eachProcesses img {
    margin-right: 2em;
  }
  
  .processTitle {
    color: var(--white);
    margin-bottom: 1em;
  }